.wrapper {
  .block {
    display: block !important;
  }
  .hidden {
    display: none !important;
  }
  .disable {
    color: #3a3937 !important;
    opacity: 0.3 !important;
    cursor: no-drop !important;
  }
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: center;
  z-index: 1000;
  display: flex;
  .modal-container {
    max-height: 898px;
    max-width: 855px;
    min-height: 391px;
    min-width: 348px;
    width: 539px;
    border-radius: 12px;
    background: #fff;
    .modal-header {
      border-bottom: 1px solid rgb(219, 219, 219);
      display: flex;
      height: 44px;
      width: 100%;
      position: relative;
      .title {
        display: flex;
        align-items: center;
        color: rgb(var(--text-primary-color));
        flex-grow: 1;
        font-size: 1.6rem;
        font-weight: 600;
        justify-content: center;
        line-height: 24px;
        margin: 0;
        margin-top: 6px;
      }
      .btn-next {
        position: absolute;
        top: 0;
        right: 0;
        padding: 16px;
        height: 100%;
        color: rgb(0 149 246);
        font-weight: 600;
        font-size: 1.4rem;
        cursor: pointer;
        &:hover {
          color: rgb(0, 55, 107);
        }
      }
      .btn-back {
        position: absolute;
        top: 0;
        left: 0;
        padding: 12px 16px;
        height: 100%;
        font-weight: 600;
        font-size: 20px;
        cursor: pointer;
        & > .icon {
          display: block;
        }
      }
    }
    .content {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 24px;
      min-height: 400px;
      position: relative;
      transition: all ease 0.3s;
      .btn-delete {
        position: absolute;
        left: 16px;
        bottom: 14px;
        font-size: 32px;
        cursor: pointer;
        color: #3a3937;
        &:hover {
          color: #5f5d58;
        }
        & > .icon {
          display: block;
        }
      }
      & > .icon {
        margin-bottom: 8px;
      }
      .text {
        font-size: 20px;
        text-align: center;
        font-weight: 400;
        color: var(--text-primary-color);
        margin-bottom: 16px;
      }
      .btn-upload-file {
        background-color: rgb(0, 149, 246);
        border-radius: 8px;
        color: rgb(255, 255, 255);
        cursor: pointer;
        display: block;
        font-size: 14px;
        font-weight: 600;
        padding: 9px 16px;
        height: 32px;
        &:hover {
          background-color: rgb(24, 119, 242);
        }
      }
      input[type='file'] {
        display: none;
      }
      .sub-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      .form {
        width: 316px;
        height: 240px;
        padding-left: 24px;
        .input {
          padding: 8px 0;
          width: 100%;
          height: 100%;
          outline: none;
          border: none;
          resize: none;
          font-size: 16px;
          color: var(--text-primary-color);
          line-height: 20px;
          &::placeholder {
            font-size: 16px;
            font-weight: 400;
            color: #c7c7c7;
          }
        }
      }
    }
  }
  .modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 8px;
    color: #fff;
    cursor: pointer;
  }
}
.arrow-prev,
.arrow-next {
  background-color: #3a3937;
  border: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 50%;

  transform: translateY(-50%);
  border-radius: 50%;
  padding: 8px;
  color: #fff;
  font-size: 20px;
  z-index: 100;
  &:hover {
    background-color: #5f5d58;
  }
}
.arrow-prev {
  left: 15px;
}
.arrow-next {
  right: 15px;
}
.indicator {
  width: 6px;
  height: 6px;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  margin: 0 2px;
  border-radius: 50%;
  cursor: pointer;
}
.img-item {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  & > img {
    object-fit: cover;
    border-radius: 10px;
  }
  & > .video {
    width: 100%;
  }
}
