.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgb(219, 219, 219);
  min-width: min(390px, 100%);
  padding-bottom: 16px;
  margin-bottom: 20px;
  .block {
    display: block !important;
  }
  .head-post {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 4px;
    padding-bottom: 12px;
    .user {
      display: flex;
      align-items: center;
      .link {
        margin-right: 10px;
        display: block;
        width: 100%;
        height: 100%;
      }
      .avatar {
        height: 32px;
        width: 32px;
        border-radius: 50%;
        .img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
      .user-name {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 600;
        margin-top: 6px;
      }
      .time {
        display: flex;
        align-items: center;
        position: relative;
        font-size: 14px;
        font-weight: 400;
        color: rgb(115, 115, 115);
        margin-left: 14px;
        margin-top: 6px;
        &::before {
          content: '•';
          display: block;
          position: absolute;
          top: 0;
          left: -9px;
        }
      }
      .btn-follow {
        display: flex;
        align-items: center;
        position: relative;
        font-size: 14px;
        font-weight: 600;
        color: rgb(0, 149, 246);
        margin-left: 14px;
        margin-top: 6px;
        cursor: pointer;
        &:hover {
          color: rgb(0, 55, 107);
        }
        &::before {
          content: '•';
          display: block;
          position: absolute;
          color: rgb(115, 115, 115);
          top: 0;
          left: -9px;
        }
      }
      .border {
        position: relative;
        display: block;
        &::after {
          content: '';
          display: block;
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
          height: 40px;
          width: 40px;
          z-index: -2;
          border-radius: 50%;
          background: linear-gradient(
            135deg,
            #405de6,
            #5851db,
            #833ab4,
            #c13584,
            #e1306c,
            #fd1d1d,
            #f56040,
            #ffbd2e,
            #ffd600
          );
          // background-color: rgb(228 228 228);
        }
        &::before {
          content: '';
          display: block;
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
          width: 36px;
          height: 36px;
          z-index: -1;
          border-radius: 50%;
          background-color: #fff;
        }
      }
    }
    .btn-more {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 24px;
      width: 24px;
      color: var(--text-primary-color);
      font-size: 20px;
      cursor: pointer;
    }
  }
  .body {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 4px;
    background-color: rgb(0, 0, 0);
    width: 468px;
    height: 585px;
    cursor: pointer;
    position: relative;
    .carousel {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      & > * {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .media-item {
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 1;
      .play {
        position: absolute;
        inset: 0;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        .icon-play {
          background-image: url('../../assets/images/icons2.png');
          background-repeat: no-repeat;
          background-position: 0 0;
          height: 135px;
          width: 135px;
        }
      }
      .sound {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 8px;
        margin-bottom: 16px;
        margin-right: 16px;
        border-radius: 50%;
        background-color: rgb(38, 38, 38);
        color: #fff;
        z-index: 100;
      }
    }
    .img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
    .video {
      width: 100%;
      height: 100%;
      // object-fit: contain;
      // overflow: clip;
    }
  }
  .bottom {
    display: flex;
    flex-direction: column;
    .action-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 4px 0;
      .item-box {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
        cursor: pointer;
        .icon-saved {
          width: 24px;
          height: 24px;
          margin-right: -8px;
        }
        &:not(:has(.heart-active-icon)):hover {
          opacity: 0.6;
        }
        &:first-child:hover .heart-icon,
        &:first-child .heart-active-icon {
          animation: hoverAction ease-in-out 0.45s;
        }
        .heart-active-icon {
          color: rgb(255, 48, 64);
        }
        @keyframes hoverAction {
          0% {
            transform: scale(1);
          }
          25% {
            transform: scale(1.2);
          }
          50% {
            transform: scale(0.95);
          }
          100% {
            transform: scale(1);
          }
        }
      }
      .action-box {
        display: flex;
        align-items: center;
        margin-left: -8px;
      }
    }
    .like-count {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      .text {
        margin-top: 6px;
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;
        cursor: pointer;
      }
    }
    .content-post {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-top: 4px;
      .user-name {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 600;
        margin-top: 6px;
        line-height: 14px;
        &:hover {
          opacity: 0.6;
        }
      }
      .text {
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        margin-top: 6px;
        margin-left: 4px;
      }
    }
    .btn-show-comments {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-top: 6px;
      .link {
        color: rgb(115, 115, 115);
        font-size: 14px;
        font-weight: 400;
        line-height: 14px;
        margin-top: 6px;
      }
    }
    .form-comment {
      display: flex;
      align-items: center;
      margin-top: 6px;
      .form {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-grow: 1;
        .input {
          width: 100%;
          height: 20px;
          max-height: 80px;
          padding-top: 4px;
          border: none;
          outline: none;
          resize: none;
          overflow: hidden;
          line-height: 19px;
          &::placeholder {
            color: rgb(115, 115, 115);
          }
        }
        .btn-send {
          font-weight: 600;
          color: rgb(0, 149, 246);
          margin: 0 8px;
          padding-top: 4px;
          height: 16px;
          cursor: pointer;
          &:hover {
            color: rgb(0, 55, 107);
          }
        }
      }
      .emoji {
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(115, 115, 115);
        margin-right: 6px;
        cursor: pointer;
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
  .arrow-prev,
  .arrow-next {
    background-color: #fbfbfb;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    padding: 4px;
    color: #666;
    font-size: 22px;
    z-index: 100;
  }
  .arrow-prev {
    left: 10px;
  }
  .arrow-next {
    right: 10px;
  }
  .indicator {
    background-color: #fff;
    width: 6px;
    height: 6px;
    transition: all 0.2s ease-in-out;
    display: inline-block;
    margin: 0 2px;
    border-radius: 50%;
    cursor: pointer;
  }
}
@media screen and (max-width: 479px) {
  .wrapper {
    .head-post {
      padding-left: 16px;
      padding-right: 16px;
    }
    .body {
      width: 100%;
      height: 400px;
    }
    .bottom {
      padding: 0 16px;
    }
  }
}
