// @tailwind base;
// @tailwind components;
// @tailwind utilities;
@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  scroll-behavior: smooth;
  background-color: $primaryBackground;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: $primaryFont;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0;
  color: $primaryTextColor;
  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

a {
  color: $primaryTextColor;
  text-decoration: none;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

// Scrollbar CSS
html body::-webkit-scrollbar {
  border-radius: 0;
  width: 8px;
}
html body::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(22, 24, 35, 0.06);
}
html body::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
}

// Fonts emmbeded
@font-face {
  font-family: Roboto;
  src: url('/public/fonts/Roboto-Thin.ttf');
  font-weight: 100;
}
@font-face {
  font-family: Roboto;
  src: url('/public/fonts/Roboto-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: Roboto;
  src: url('/public/fonts/Roboto-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: Roboto;
  src: url('/public/fonts/Roboto-Medium.ttf');
  font-weight: 500;
}
@font-face {
  font-family: Roboto;
  src: url('/public/fonts/Roboto-Bold.ttf');
  font-weight: 700;
}
@font-face {
  font-family: Roboto;
  src: url('/public/fonts/Roboto-Black.ttf');
  font-weight: 900;
}

.Toastify__toast-body {
  font-family: $primaryFont;
  font-weight: 500;
  font-size: 14px;
}
