// Color & Font
$primaryTextColor: rgb(0, 0, 0);
$primaryTextLightColor: rgb(245, 245, 245);
$primaryBackground: rgb(255, 255, 255);
$primaryDarkBackground: rgb(0, 0, 0);
$separator: rgb(219, 219, 219);
$overlay: rgba(0, 0, 0, 0.05);

$primaryFont: 'Roboto', sans-serif;

$nav-narrow-width: 72px;
$nav-medium-width: 244px;

// Break point
$xs: 479px;
$sm: 767px;
$md: 1160px;
$lg: 1264px;
